@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");

.main {
	padding-top: 25px;
}

.items {}

.block_list {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}

.image {
	display: block;
	margin: 0 auto;
	max-width: 250px;
	margin-bottom: 50px;
}

.list {
	display: inline-block;
}

.button {
	font-family: "Roboto";
	background-color: black;
	width: 300px;
	height: 45px;
	padding: 10px 30px 10px 30px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	border-radius: 8px;
	font-size: 20px;
	border: 1px solid white;
}

.button:hover {
	background-color: #3b3a3ae4;
	transition: all 500ms ease;
}